<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header class="ion-padding-top">
          <ion-list-header class="">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
           </ion-avatar>
          </ion-list-header>
          <ion-label class="ion-padding-horizontal">
            <h1 class="ion-padding-horizontal">My username</h1>
            <p class="ion-padding-horizontal">Free User</p>
          </ion-label>
        </ion-header>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item class="menu" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon class="ion-margin-start" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" class="ion-padding-start" name="moon"></ion-icon>
          <ion-label>Dark Theme</ion-label>
          <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
        </ion-item>
      </ion-content>
      <ion-footer class="ion-text-center ion-padding">
        <ion-title color="primary">
          DIETPLANNER
        </ion-title>
        <ion-label color="secondary">
          <p><a>User condition</a> - <a>Privacy policy</a></p>
          <p>Version: 0.0.2 alpha</p>
        </ion-label>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
