ion-button{
    margin-left: 6px;
}

.list-meal-food ion-icon{
    margin-right: 15px;
}

.input-size{
    width: 60px;
    padding-right: 3px;
    margin-right: 10px;

    ion-input {
        text-align: right; 
    }
    border: 1px solid var(--ion-color-primary);
    border-radius: 3pt;
}

.food-resume {
    margin-left: 12px;
}

ion-content>div{
    padding-bottom: 95px;
}

ion-content{
    --padding-start: 0px;
    --padding-end: 0px;
}