<ion-content>
  <div>
    <ion-list *ngFor="let i of [1,2]">
      <ion-item lines="full">
        <ion-label>
          <h2><b>Meal {{i}} - </b><b>G</b>: <span class="glucide-text">350g </span><b>P</b>: <span class="protein-text">180g </span><b>L</b>: <span class="lipid-text">90g </span><b>kCal</b>: <span>2500</span></h2>
          <ion-label>My name meal {{i}}</ion-label>
        </ion-label>
        <ion-icon button slot="end" name="pencil-outline"></ion-icon>
        <ion-icon button slot="end" name="ellipsis-vertical-outline"></ion-icon>
      </ion-item>
      <ion-item-sliding *ngFor="let i of [0,1,2,3,4]">
        <ion-item class="list-meal-food">
          <ion-icon class="ion-margin-left" name="restaurant" slot="start"></ion-icon>
          <div class="input-size">
            <ion-input type="number" inputmode="numeric" placeholder="Taille"></ion-input>
          </div>
          <ion-label>g</ion-label>
          <ion-label class="food-resume">
            <div>
              Egg
            </div>
            <ion-note>
              <b>G</b>: <span class="glucide-text">2g </span><b>P</b>: <span class="protein-text">10g </span><b>L</b>: <span class="lipid-text">9g </span><b>kCal</b>: <span>150</span>
            </ion-note>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-button id="open-modal-{{i}}" expand="block">Add Food</ion-button>
    </ion-list>
  </div>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-padding">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal *ngFor="let i of [1,2]" #modal trigger="open-modal-{{i}}" [swipeToClose]="true" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add food</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
        <div class="input-size">
          <ion-input type="number" inputmode="numeric" placeholder="Taille"></ion-input>
        </div>
        <ion-label>g</ion-label>
        <app-details [showDetails]="false"></app-details>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>