<app-header [customHeader]="'Meal list'"></app-header>
<ion-content>
  <ion-list lines="full" class="scroll-y">
    <ion-item-sliding *ngFor="let meal of mealList">
      <ion-item (click)="openItem(meal.name)" button detail>
        <ion-label>
          <h1>{{meal.name}}</h1>
          <p><b>G</b>: <span class="glucide-text">350g </span><b>P</b>: <span class="protein-text">180g </span><b>L</b>: <span class="lipid-text">90g </span><b>kCal</b>: <span>2500</span></p>
          <p>Last edition : {{meal.lastUpdate}}</p>
        </ion-label>
        <ion-icon class="ion-padding-horizontal" *ngIf="meal.notification" slot="end" name="notifications"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="success">Archive</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-padding">
    <ion-fab-button>
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="ion-margin-bottom" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>