<ion-header>
  
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-padding">
        <apx-chart
            [series]="chartOptionsMacro.series"
            [chart]="chartOptionsMacro.chart"
            [legend]="chartOptionsMacro.legend"
            [labels]="chartOptionsMacro.labels"
            [colors]="chartOptionsMacro.colors"
            [responsive]="chartOptionsMacro.responsive"
            [dataLabels]="chartOptionsMacro.dataLabels"
            [plotOptions]="chartOptionsMacro.plotOptions"
            [stroke]="chartOptionsMacro.stroke"
          ></apx-chart>
      </ion-col>
      <ion-col size="6" class="cal-counter">
        <ion-header class="ion-no-margin"><h1>2450 KCAL</h1></ion-header>
        <ion-label>TOTAL ENERGIE : 11 256 kJ</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>
<ion-content>
  <app-details [showDetails]="true"></app-details>
</ion-content>