<app-header [backable]=true [defaultHref]="'meal-list'"></app-header>
<ion-content>
  <ion-tabs class="tabs-fullwidth">
    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button tab="content">
        <ion-icon name="list"></ion-icon>
        <ion-label>Content</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="details">
        <ion-icon name="restaurant"></ion-icon>
        <ion-label>Details</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="stats">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Stats</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>