<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="backable">
			<ion-back-button color="light" defaultHref="{{defaultHref}}"></ion-back-button>
		</ion-buttons>
		<ion-title color="light">{{navId}}</ion-title>
		<ion-title *ngIf="customHeader" color="light">{{customHeader}}</ion-title>
  </ion-toolbar>
</ion-header>