.tab0 {
    ion-item:not(:first-child) ion-label {
      margin-left: 24px;
      margin-right: 42px;
    }

    .list-content {
      font-size: 12px;
    }
  }
  
.tab1 {
  ion-label:first-child {
    margin-left: 24px;
  }

  ion-item:not(:first-child) ion-label {
    margin-left: 42px;
    margin-right: 42px;
  }

  .list-content {
    font-size: 12px;
  }
}

.list-property::part(native){
  height: 28px;
  min-height: 28px;
  background-color: var(--ion-card-background);
  color: var(--ion-text-color);
}

.list-content::part(native){
  height: 14px;
  min-height: 14px;
  background-color: var(--ion-card-background);
  color: var(--ion-text-color);
  border: none;
}

.glucide::part(native){
  border-bottom: 2px solid var(--color-nutri-glucide);
}

.protein::part(native){
  border-bottom: 2px solid var(--color-nutri-protein);
}

.lipid::part(native){
  border-bottom: 2px solid var(--color-nutri-lipid);
}

.fibre::part(native){
  border-bottom: 2px solid var(--color-nutri-fibre);
}

.sucre::part(native){
  border-bottom: 2px solid var(--color-nutri-sucre);
}

.fructose::part(native){
  border-bottom: 2px solid var(--color-nutri-fructose);
}

.galactose::part(native){
  border-bottom: 2px solid var(--color-nutri-galactose);
}

.glucose::part(native){
  border-bottom: 2px solid var(--color-nutri-glucose);
}

.lactose::part(native){
  border-bottom: 2px solid var(--color-nutri-lactose);
}

.maltose::part(native){
  border-bottom: 2px solid var(--color-nutri-maltose);
}

.saccharose::part(native){
  border-bottom: 2px solid var(--color-nutri-saccharose);
}

.amidon::part(native){
  border-bottom: 2px solid var(--color-nutri-amidon);
}

.sature::part(native){
  border-bottom: 2px solid var(--color-nutri-sature);
}

.polyinsature::part(native){
  border-bottom: 2px solid var(--color-nutri-polyinsature);
}

.monoinsature::part(native){
  border-bottom: 2px solid var(--color-nutri-monoinsature);
}

.trans::part(native){
  border-bottom: 2px solid var(--color-nutri-trans);
}