<ion-list lines="full">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        Macros
      </ion-label>
    </ion-item-divider>
    <ion-accordion-group [readonly]="!showDetails">
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property glucide" slot="header" color="light">
          <ion-label slot="start"><span class="glucide-text">Glucides (g/100 g)</span></ion-label>
          <ion-label slot="end"><span class="glucide-text">{{dataAggregate.glucide | totalValuesOfSetFilter}}</span></ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property sucre" slot="header" color="light">
          <ion-label slot="start"><span>Sucres (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property fructose" slot="header" color="light">
          <ion-label slot="start"><span>Fructose (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property galactose" slot="header" color="light">
          <ion-label slot="start"><span>Galactose (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property glucose" slot="header" color="light">
          <ion-label slot="start"><span>Glucose (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property lactose" slot="header" color="light">
          <ion-label slot="start"><span>Lactose (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property maltose" slot="header" color="light">
          <ion-label slot="start"><span>Maltose (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property saccharose" slot="header" color="light">
          <ion-label slot="start"><span>Saccharose (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property amidon" slot="header" color="light">
          <ion-label slot="start"><span>Amidon (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property protein" slot="header" color="light">
          <ion-label slot="start"><span class="protein-text">Proteines (g/100 g)</span></ion-label>
          <ion-label slot="end"><span class="protein-text">{{dataAggregate.glucide | totalValuesOfSetFilter}}</span></ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property sature" slot="header" color="light">
          <ion-label slot="start"><span class="lipid-text">Lipides (g/100 g)</span></ion-label>
          <ion-label slot="end"><span class="lipid-text">{{dataAggregate.glucide | totalValuesOfSetFilter}}</span></ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property sature" slot="header" color="light">
          <ion-label slot="start"><span>AG saturés (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property polyinsature" slot="header" color="light">
          <ion-label slot="start"><span>AG polyinsaturés (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property monoinsature" slot="header" color="light">
          <ion-label slot="start"><span>AG monoinsaturés (g/100 g)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab1" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property trans" slot="header" color="light">
          <ion-label slot="start"><span>Trans (calcul?)</span></ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property fibre" slot="header" color="light">
          <ion-label slot="start"><span class="fibre-text">Fibres alimentaires (g/100 g)</span></ion-label>
          <ion-label slot="end"><span class="fibre-text">{{dataAggregate.glucide | totalValuesOfSetFilter}}</span></ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item-group>

  <ion-item-group>
    <ion-accordion-group [readonly]="!showDetails">
      <ion-item-divider>
        <ion-label>
          Santé
        </ion-label>
      </ion-item-divider>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Eau (g/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Polyols totaux (g/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Cendres (g/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Alcool (g/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Acides organiques (g/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Cholestérol (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Sel (g/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item-group>

  <ion-item-group>
    <ion-accordion-group [readonly]="!showDetails">
      <ion-item-divider>
        <ion-label>
          Vitamines
        </ion-label>
      </ion-item-divider>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine A - Rétinol (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine A - Beta-Carotène (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine D (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine E (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine K1 (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine C (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B1 (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B2 (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B3 (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B5 (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B6 (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B9 (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Vitamine B12 (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item-group>

  <ion-item-group>
    <ion-accordion-group [readonly]="!showDetails">
      <ion-item-divider>
        <ion-label>
          Minéraux
        </ion-label>
      </ion-item-divider>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Cuivre (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Fer (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Iode (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Magnésium (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Manganèse (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Phosphore (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Potassium (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Sélénium (µg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Sodium (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
      <ion-accordion class="tab0" toggleIconSlot="{{showDetails? 'end' : 'none'}}">
        <ion-item class="list-property" slot="header" color="light">
          <ion-label slot="start">Zinc (mg/100 g)</ion-label>
          <ion-label slot="end">{{dataAggregate.glucide | totalValuesOfSetFilter}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let content of dataAggregate.glucide" class="list-content" slot="content">
          <ion-label slot="start">{{content.name}}</ion-label>
          <ion-label slot="end">{{content.value}}</ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item-group>
</ion-list>