apx-chart{
  width: 100%;
}

ion-item {
  --min-height: 16px;
}

.percent-label{
  border-radius: 25px;
  width: 50px;
  margin-right: 3px;
}

.pie-legend ion-item{
  margin: 6px 0px 6px 0;
  font-size: 12px;
}