<ion-content>
  <ion-card>
    <ion-card-header>
      Meal stats
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-slides [options]="slideOpt" [pager]="true" class="ion-padding-bottom">
        <ion-slide>
          <apx-chart
            [series]="chartOptionsStacked.series"
            [chart]="chartOptionsStacked.chart"
            [xaxis]="chartOptionsStacked.xaxis"
            [colors]="chartOptionsStacked.colors"
          ></apx-chart>
        </ion-slide>
        <ion-slide>
          <apx-chart
            [series]="chartOptionsAgregate.series"
            [chart]="chartOptionsAgregate.chart"
            [xaxis]="chartOptionsAgregate.xaxis"
            [yaxis]="chartOptionsAgregate.yaxis"
            [colors]="chartOptionsAgregate.colors"
          ></apx-chart>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Meals sugars distribution
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6" size-md="8">
            <apx-chart
            [series]="chartOptionsSugarDistribution.series"
            [chart]="chartOptionsSugarDistribution.chart"
            [legend]="chartOptionsSugarDistribution.legend"
            [labels]="chartOptionsSugarDistribution.labels"
            [colors]="chartOptionsSugarDistribution.colors"
            [responsive]="chartOptionsSugarDistribution.responsive"
            [dataLabels]="chartOptionsSugarDistribution.dataLabels"
            [plotOptions]="chartOptionsSugarDistribution.plotOptions"
            [stroke]="chartOptionsSugarDistribution.stroke"
          ></apx-chart>
          </ion-col>
          <ion-col size="6" size-md="4" class="pie-legend">
            <ion-item *ngFor="let series of chartOptionsSugarDistribution.series; let i = index" class="item-legend" lines="none">
              <div [style.backgroundColor]="chartOptionsSugarDistribution.colors[i]" class="percent-label ion-no-margin ion-text-center">{{series/chartOptionsSugarDistribution.totalSeries | percent}}</div>
              <ion-label class="name-legend ion-no-margin">{{chartOptionsSugarDistribution.labels[i]}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Meals fats distribution
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6" size-md="8">
            <apx-chart
            [series]="chartOptionsFatDistribution.series"
            [chart]="chartOptionsFatDistribution.chart"
            [legend]="chartOptionsFatDistribution.legend"
            [labels]="chartOptionsFatDistribution.labels"
            [colors]="chartOptionsFatDistribution.colors"
            [responsive]="chartOptionsFatDistribution.responsive"
            [dataLabels]="chartOptionsFatDistribution.dataLabels"
            [plotOptions]="chartOptionsFatDistribution.plotOptions"
            [stroke]="chartOptionsFatDistribution.stroke"
          ></apx-chart>
          </ion-col>
          <ion-col size="6" size-md="4" class="pie-legend">
            <ion-item *ngFor="let series of chartOptionsFatDistribution.series; let i = index" lines="none">
              <div [style.backgroundColor]="chartOptionsFatDistribution.colors[i]" class="percent-label ion-no-margin ion-text-center">{{series/chartOptionsFatDistribution.totalSeries | percent}}</div>
              <ion-label class="name-legend ion-no-margin">{{chartOptionsFatDistribution.labels[i]}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>
