/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-primary: #FB8D00;
  --ion-color-primary-rgb: 251,141,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #dd7c00;
  --ion-color-primary-tint: #fb981a;

  --ion-color-secondary: #F44336;
  --ion-color-secondary-rgb: 244,67,54;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #d73b30;
  --ion-color-secondary-tint: #f5564a;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --color-nutri-glucide: #78909c;
  --color-nutri-glucide-agg: #455a64;
  --color-nutri-protein: #ff1744;
  --color-nutri-protein-agg: #d50000;
  --color-nutri-lipid: #FFD600  ;
  --color-nutri-lipid-agg: #d9b500;

  --color-nutri-fibre: #689F38;

  --color-nutri-sucre: #455a6495;
  --color-nutri-fructose: #546e7a95;
  --color-nutri-galactose: #607d8b95;
  --color-nutri-glucose: #78909c95;
  --color-nutri-lactose: #90a4ae95;
  --color-nutri-maltose: #b0bec595;
  --color-nutri-saccharose: #cfd8dc95;
  --color-nutri-amidon: #eceff195;

  --color-nutri-sature: #FDD835;
  --color-nutri-polyinsature: #FFEB3B;
  --color-nutri-monoinsature: #FFF176;
  --color-nutri-trans: #FFF59D;
}

.infinite-scroll-content-md {
  min-height: 92px;
}

.list-md {
  background: none;
}

.glucide-text{
  color: var(--color-nutri-glucide);
  padding: 0!important;
}
.protein-text{
  color: var(--color-nutri-protein);
  padding: 0!important;
}
.lipid-text{
  color: var(--color-nutri-lipid);
  padding: 0!important;
}
.fibre-text{
  color: var(--color-nutri-fibre);
  padding: 0!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding-right: 5px;
}